.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.contact-info,
.contact-form {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  padding: 20px;
  color:#000;
  width: 300px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#submit,
#reset {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  background-color:#ffc0cb;
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}

.data {
  display: flex;
  flex-direction: column;
}

.data label {
  margin: 5px;
}

.data input {
  border-style: solid;
  border-color: #ff1493;
  background-color: #fff;
  border-radius: 15px;
}

#submit {
  background-color: rgb(250, 24, 186);
  font-family: "Times New Roman", Times, serif;
  list-style-type: none;
  display: inline;
  border-color: rgb(250, 24, 186);
  border-radius: 30cap;
  width: 60%;
  margin-top: 20px;
  align-self: center;
}

#msg {
  border-style: solid;
  border-radius: 5px;
  border-color: #ffdbe7;
}

#reset {
  background-color: rgb(250, 24, 186);
  font-family: "Times New Roman", Times, serif;
  list-style-type: none;
  display: inline;
  border-color: rgb(250, 24, 186);
  border-radius: 30cap;
  width: 60%;
  margin-top: 20px;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: "contact-info contact-form"; 
    justify-content: center;
    align-items: center;
    gap: 10px; 
    width: 80%;
    max-width: 800px; 
    margin: 0 auto 90px;
  }


  .contact-info {
    grid-area: contact-info;
    text-align: left;
    max-width: 350px; 
  }

  .contact-form {
    grid-area: contact-form;
    text-align: left;
    max-width: 350px; 
  }
  html,
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .container {
    flex: 1;
  }
}
