* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 5px;
}

html {
  scroll-padding-top: 80px;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #ffdbe7;
  margin-top: auto;
  position: relative;
}

.header,
.navbar,
.hero,
.footer {
  background-color: #ffdbe7;
  background-size: cover;
  background-position: center;
  color: rgb(8, 8, 8);
  margin-bottom: 20px;
}

.navbar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 15px 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  width: auto;
  max-width: 90%;
}

.ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.ul li {
  display: inline;
}

.ul a {
  text-decoration: none;
  color: rgb(250, 24, 186);
}

.ul li:hover {
  color: #fff;
  background: #ee42b438;
}

#footerP {
  text-align: center;
  font-size: small;
}

body {
  background-color: #fff4fa;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  text-align: center;
  grid-area: hero;
  margin-bottom: 10px;
  padding-top: 50px;
}

/* for the mobile phones */
@media screen and (max-width: 768px) {
  .navbar {
    width: 90%;
    height: auto;
  }
}

/* for ipad and tablet */
@media screen and (min-width: 768px) {
  .navbar {
    width: auto;
    position: fixed;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
  }

  .ul {
    gap: 20px;
  }
}

/* for pc screen and laptops*/
@media screen and (min-width: 900px) {
  footer {
    width: 100%;
    text-align: center;
    background-color: #ffdbe7; 
    padding: 10px;
    margin-top: auto; 
    position: relative;
  }
  .ul {
    gap: 50px;
  }
}


