body {
  background-color: rgb(255, 244, 250);
  background-size: cover;
  background-position: center;
}

#explore {
  background-color: rgb(250, 24, 186);
  font-family: "Times New Roman", Times, serif;
  list-style-type: none;
  display: inline;
  border-color: rgb(250, 24, 186);
  border-radius: 30cap;
  width: fit-content;
  margin-top: 20px;
}

#explore h1 {
  list-style-type: none;
  display: inline;
  font-style: normal;
}

#explore a {
  text-decoration: none;
  font-size: medium;
  font-family: cursive;
  font-style: bold;
  font-weight: 500;
  color: #fff;
}

.info-card {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.info h3 {
  margin-left: 30px;
}

.cards {
  width: 150px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  color: #000;
}

.cards img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.cards .des {
  padding: 15px;
  text-align: center;
}

.aboutArticle,
#ab {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}

.aboutArticle p {
  margin-bottom: 20px;
}

#what {
  margin-left: 50px;
}

.des img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.des h3 {
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  #ppl {
    width: 80%; 
    height: auto; 
    display: block; 
    margin: 10px auto; 
  }
}

@media screen and (min-width: 900px) {
  #ppl {
    float: right;
    width: 35%; 
    height: auto; 
    margin: 10px auto; 
  }
  
}
